* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
.secao-topo {
    background-image: url("img/1213553.jpg");
    background-size: cover;
    min-height: 600px;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-weight: bold;
    padding: 70px;
 }
 .secao-topo h1, h2 {
    width: fit-content;
    text-align: center;
    margin: 0px auto;
    padding: 10px 20px;
 }
 .secao-topo h1 {
        background-color: black;
 }
 .secao-topo h2 {
        background-color: red;
 }

.secao-informacoes {
    text-align: center;
    line-height: 26px;
    margin: 30px auto;
}
.secao-informacoes h3 {
    font-size: 28px;
    font-weight: bold;
    padding: 30px 0;
}
.secao-informacoes p {
    width: 600px;
    margin: 0 auto;
    line-height: 30px;
    text-align: left;
}
.atores {
    margin: 50px auto;
}
.atores img {
    width: 200px;
    height: 250px;
}
.banner-mid {
    background-image: url('img/1385483.png');
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}
.secao-sinopse {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}
.secao-sinopse p {
    text-align: justify;
    line-height: 25px;
}
.secao-sinopse .red {
    color: white;
    background-color: red;
    width: fit-content;
    padding: 5px 20px;
    margin: 15px 0;
}